.scalene, .equilateral, .isosceles, .not-a-triangle {
  display: none;
}

.btn {
  display: block;
}

h1 {
  color: salmon;
}

label {
  color: pink;
}

p {
  color: orange;
}

body {
  background-color: violet;
}
